@model IEnumerable<TravelExpertsData.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1 class="text-center" >Employees</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.EmpFirstName)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EmpBusPhone)*@
                Business number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EmpEmail)*@
                Email
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.EmpPosition)*@
               Position
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpFirstName) @Html.DisplayFor(modelItem => item.EmpLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpBusPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPosition)
            </td>

        </tr>
}
    </tbody>
</table>
